* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 1245px;
  font-family: 'PTSans';
}
.container {
  width: 1245px;
  margin: 0 auto;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans-Web-Bold.woff2') format('woff2'), url('../fonts/PT_Sans-Web-Bold.woff') format('woff'), url('../fonts/PT_Sans-Web-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans-Web-BoldItalic.woff2') format('woff2'), url('../fonts/PT_Sans-Web-BoldItalic.woff') format('woff'), url('../fonts/PT_Sans-Web-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans-Web-Italic.woff2') format('woff2'), url('../fonts/PT_Sans-Web-Italic.woff') format('woff'), url('../fonts/PT_Sans-Web-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PT_Sans-Web-Regular.woff2') format('woff2'), url('../fonts/PT_Sans-Web-Regular.woff') format('woff'), url('../fonts/PT_Sans-Web-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
.promo {
  color: #fff;
  text-align: center;
  background: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__overlay {
  position: relative;
  padding-top: 198px;
  padding-bottom: 122px;
  background: rgba(48, 50, 99, 0.67);
}
.promo__container {
  width: 1245px;
  margin: 0 auto;
  padding: 0 75px;
  z-index: 100;
}
.promo__slogan {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
}
.promo__text {
  margin-bottom: 65px;
  font-size: 24px;
  line-height: 36px;
}
.advantages__item {
  position: relative;
  display: inline-block;
  width: 251px;
  height: 160px;
  margin-right: 59px;
  padding-top: 48px;
  padding-bottom: 38px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #fff;
}
.advantages__item:nth-child(3n) {
  margin-right: 0;
}
.advantages__item:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 40px;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item--services:after {
  background-image: url(../img/advantages__item--services.png);
}
.advantages__item--projects:after {
  background-image: url(../img/advantages__item--projects.png);
}
.advantages__item--customers:after {
  background-image: url(../img/advantages__item--customers.png);
}
.advantages__number {
  display: block;
  font-size: 48px;
}
.main-nav {
  padding-top: 42px;
  padding-bottom: 32px;
  border-bottom: 2px solid #adadad;
}
.main-nav__container {
  width: 1245px;
  margin: 0 auto;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.main-menu__item {
  display: inline-block;
  padding-left: 40px;
}
.main-menu__link {
  text-decoration: none;
  font-size: 22px;
  color: #000;
  transition: 0.3s linear;
}
.main-menu__link:hover {
  color: #f6ae48;
}
.about {
  padding-top: 170px;
  padding-bottom: 200px;
  background: url(../img/about.jpg) center no-repeat;
}
.about__container {
  width: 1245px;
  margin: 0 auto;
}
.about__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.about__title {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  font-size: 48px;
  font-weight: bold;
}
.about__text {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #535353;
}
.services {
  padding-bottom: 250px;
}
.services__container {
  width: 1245px;
  margin: 0 auto;
}
.services__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.services__item {
  position: relative;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding-left: 23px;
  padding-top: 83px;
  padding-right: 23px;
  padding-bottom: 80px;
  text-decoration: none;
  text-align: left;
  color: #000;
  transition: 0.3s linear;
}
.services__item:hover {
  background-color: #f6ae48;
  color: #fff;
}
.services__item:after {
  content: '';
  position: absolute;
  width: 33px;
  height: 33px;
  right: 39px;
  bottom: 28px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}
.services__item:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 18px;
}
.services__item--start:before {
  width: 30px;
  height: 58px;
  background-image: url(../img/services__item--start.png);
  transition: background-image 0.3s linear;
}
.services__item--start:hover:before {
  background-image: url(../img/services__item--start-hover.png);
}
.services__item--seo:before {
  width: 28px;
  height: 45px;
  background-image: url(../img/services__item--seo.png);
  transition: background-image 0.3s linear;
}
.services__item--seo:hover:before {
  background-image: url(../img/services__item--seo-hover.png);
}
.services__item--support:before {
  width: 54px;
  height: 44px;
  background-image: url(../img/services__item--support.png);
  transition: background-image 0.3s linear;
}
.services__item--support:hover:before {
  background-image: url(../img/services__item--support-hover.png);
}
.services__title {
  font-size: 20px;
  font-weight: bold;
}
.services__text {
  display: block;
  font-size: 16px;
}
.services__price {
  display: inline-block;
  position: absolute;
  left: 25px;
  bottom: 21px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  color: #fff;
  border: 2px solid #fff;
}
.credo {
  background-image: url(../img/credo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.credo__overlay {
  padding-top: 120px;
  padding-bottom: 160px;
  background: rgba(48, 50, 99, 0.67);
}
.credo__container {
  width: 1245px;
  margin: 0 auto;
  padding-left: 118px;
  padding-right: 86px;
}
.credo__title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.credo__text {
  font-size: 24px;
  line-height: 36px;
}
.working-name {
  position: absolute;
  top: -45px;
  left: 0;
  padding: 130px;
  width: 667px;
  height: 525px;
  background: #f6ae48 url(../img/working-name--1.png) left 9px no-repeat;
  color: #fff;
}
.working-name__title {
  margin: 0;
  font-size: 50px;
}
.working {
  position: relative;
  padding-top: 208px;
  padding-bottom: 90px;
}
.working__container {
  width: 1245px;
  margin: 0 auto;
}
.working-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.working-list__item {
  position: relative;
  margin-right: 20px;
  width: 364px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  text-align: left;
  color: #fff;
  vertical-align: top;
}
.working-list__item:nth-child(3n) {
  margin-right: 0;
}
.working-list__item:after {
  content: '';
  position: absolute;
  width: 364px;
  height: 48px;
  background-color: transparent;
  transition: 0.3s linear;
}
.working-list__item--landing {
  background-image: url(../img/working--landing.jpg);
}
.working-list__item--landing:hover:after {
  background-color: #00b9e7;
}
.working-list__item--landing:hover .working-list__item-overlay:after {
  background-image: url(../img/arrow--blue.png);
}
.working-list__item--landing:hover .working-list__price {
  border: 2px solid #00b9e7;
}
.working-list__item--site {
  background-image: url(../img/working--site.jpg);
}
.working-list__item--site:hover:after {
  background-color: #ffcb00;
}
.working-list__item--site:hover .working-list__item-overlay:after {
  background-image: url(../img/arrow--yellow.png);
}
.working-list__item--site:hover .working-list__price {
  border: 2px solid #ffcb00;
}
.working-list__item--shop {
  background-image: url(../img/working--shop.jpg);
}
.working-list__item--shop:hover:after {
  background-color: #66bf0d;
}
.working-list__item--shop:hover .working-list__item-overlay:after {
  background-image: url(../img/arrow--green.png);
}
.working-list__item--shop:hover .working-list__price {
  border: 2px solid #66bf0d;
}
.working-list__item-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 150px;
  background: rgba(48, 50, 99, 0.67);
}
.working-list__item-overlay:after {
  content: '';
  position: absolute;
  right: 33px;
  bottom: 42px;
  width: 33px;
  height: 33px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  transition: 0.3s linear;
}
.working-list__title {
  position: relative;
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
}
.working-list__title:after {
  content: '';
  position: absolute;
  top: 130px;
  left: 0;
  width: 260px;
  height: 1px;
  background-color: #fff;
}
.working-list__price {
  display: inline-block;
  position: absolute;
  left: 36px;
  bottom: 31px;
  width: 200px;
  height: 55px;
  text-align: center;
  border: 2px solid #fff;
  font-size: 25px;
  line-height: 55px;
  transition: 0.3s linear;
}
.rewards {
  padding-top: 88px;
  padding-bottom: 114px;
}
.rewards__container {
  display: -ms-flexbox;
  display: flex;
  width: 1245px;
  margin: 0 auto;
  background: url(../img/rewards.png) 20px 20px no-repeat;
}
.rewards__col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.rewards__col:first-child {
  padding-left: 75px;
}
.rewards__col:nth-child(2) {
  text-align: center;
}
.rewards__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.rewards__text {
  font-size: 24px;
  line-height: 48px;
}
.rewards__item {
  margin-bottom: 40px;
}
.rewards__item:last-child {
  margin-bottom: 0;
}
.portfolio {
  padding-top: 40px;
  text-align: center;
  background: #303263 url(../img/portfolio.png) center 22px no-repeat;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.portfolio__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.portfolio__col-2 {
  width: 50%;
}
.portfolio__col-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
}
.portfolio__col-4 {
  width: 25%;
}
.portfolio__col-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
}
.portfolio__more {
  display: inline-block;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  background-color: #6a6b8e;
  border-radius: 12px;
}
.adaptive {
  padding-top: 200px;
  padding-bottom: 170px;
  background: url(../img/adaptive-screens.png) right 0 top 165px no-repeat;
}
.adaptive__container {
  width: 1245px;
  margin: 0 auto;
  padding-left: 75px;
  padding-top: 15px;
  background: url(../img/adaptive.png) 24px 0 no-repeat;
}
.adaptive__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.adaptive__text {
  width: 50%;
  font-size: 24px;
  line-height: 48px;
}
.trade-in {
  text-align: center;
  background: url(../img/trade-in.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.trade-in__overlay {
  padding-top: 64px;
  padding-bottom: 47px;
  background: rgba(0, 0, 0, 0.52);
}
.trade-in__container {
  width: 1245px;
  margin: 0 auto;
}
.trade-in__title {
  margin: 0;
  margin-bottom: 100px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.trade-in__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 15px;
}
.trade-in__item {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #fff;
  text-align: left;
}
.trade-in__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: -15px;
}
.trade-in__item--algorithm:before {
  width: 69px;
  height: 48px;
  background-image: url(../img/trade-in__item--algorithm.png);
}
.trade-in__item--process:before {
  width: 67px;
  height: 67px;
  background-image: url(../img/trade-in__item--process.png);
}
.trade-in__item--conditions:before {
  width: 64px;
  height: 49px;
  background-image: url(../img/trade-in__item--conditions.png);
}
.trade-in__item-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 90px;
  font-size: 30px;
  text-transform: uppercase;
}
.trade-in__item-text {
  font-size: 18px;
  line-height: 30px;
}
.trade-in__item-text a {
  color: #fff;
  text-decoration: none;
}
.btn-estimate {
  display: inline-block;
  padding: 20px 25px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f6ae48;
  border-radius: 17px;
}
.support {
  padding-top: 160px;
  padding-bottom: 250px;
}
.support__container {
  width: 1245px;
  margin: 0 auto;
  min-height: 375px;
  background: url(../img/support.png) 40px 0 no-repeat, url(../img/support-2.jpg) right 16px top 0 no-repeat;
}
.support__title {
  padding-top: 15px;
  padding-left: 75px;
  font-size: 30px;
  text-transform: uppercase;
}
.support__text {
  padding-left: 75px;
  width: 50%;
  font-size: 24px;
  line-height: 48px;
}
.contacts {
  background: url(../img/contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__overlay {
  padding-top: 128px;
  padding-bottom: 114px;
  background: rgba(48, 50, 99, 0.67);
}
.contacts__container {
  width: 1245px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}
.contacts__col {
  width: 50%;
  color: #fff;
}
.contacts__col:nth-child(1) {
  padding-left: 50px;
}
.contacts__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
}
.contacts__text {
  max-width: 350px;
  font-size: 18px;
  line-height: 27px;
}
.contacts-form__input {
  float: left;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  font-size: 18px;
  font-family: 'PTSans';
  color: #fff;
  border: 5px solid #fff;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.contacts-form__input::-webkit-input-placeholder {
  color: #fff;
}
.contacts-form__input::-moz-placeholder {
  color: #fff;
}
.contacts-form__input:-moz-placeholder {
  color: #fff;
}
.contacts-form__input:-ms-input-placeholder {
  color: #fff;
}
.contacts-form__input:nth-child(1),
.contacts-form__input:nth-child(2) {
  width: 50%;
  border-bottom: 0;
}
.contacts-form__input:nth-child(1) {
  border-right: 0;
}
.contacts-form__input:nth-child(3) {
  border-bottom: 0;
}
.contacts-form__input:focus {
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.contacts-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.contacts-form__input:focus::-moz-placeholder {
  color: transparent;
}
.contacts-form__input:focus:-moz-placeholder {
  color: transparent;
}
.contacts-form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.contacts-form__text {
  float: left;
  padding-left: 24px;
  font-size: 16px;
  color: #fff;
}
textarea.contacts-form__input {
  margin-bottom: 14px;
}
.btn-form {
  float: right;
  width: 143px;
  height: 44px;
  background-color: #f6ae48;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  border-radius: 12px;
  border: 0;
}
.btn-form:hover {
  cursor: pointer;
}
.btn-form:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
